/*  
.prep {
    display: grid;
    
}

.colum1 {
    grid-column: 1;

}
.colum2 {
    grid-column: 1;
    text-align: center;
    margin-left: -900px;
    padding-bottom: 50px;
}
    This is for another time. I don't know if this will work with the current understanding of css that I have. 
    */

    ul {
        list-style-type: square;
    }

 ol {
     list-style-type: upper-roman;
 }