/*  
.prep {
    display: grid;
    
}

.colum1 {
    grid-column: 1;

}
.colum2 {
    grid-column: 1;
    text-align: center;
    margin-left: -900px;
    padding-bottom: 50px;
}
    This is for another time. I don't know if this will work with the current understanding of css that I have. 
    */

    ul {
        list-style-type: none;
        text-align: center;
        display: flexbox;
    }

 ol {
     list-style-type: none;
     text-align: center;
     display: flexbox;
 }

 h1 {
    background-color: rgba(15, 120, 100, 0.3);
    color: rgba(25, 55, 125, 0.4);
    font-weight: bold;
    border: solid;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    display: flexbox;


 }

 img {
    border-radius: 10%;
    border: solid;
    
    place-items: center;
 }

 h2 {
    text-align: center;
    display: flexbox;
 }

 p {
    text-align: center;
    display: flexbox;
 }

 .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
 }